/**********************************************************
***********************************************************
-----------------------------------------------------------
COLOR
-----------------------------------------------------------
***********************************************************
**********************************************************/

$M_primary: #00a850;
$M_second: #65c087;
$M_third: #98d1a6;

$gray: #8d8e92;
$light-gray: #efefef;
$black: #252122;
$white: #fff;

$screen-xs-min: 0px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1400px;




#wpadminbar{
	background-color: $M_second;
	margin-top: 7rem;
	z-index: 99;
}



/**********************************************************
***********************************************************
-----------------------------------------------------------
FOUNDATION SETTINGS
-----------------------------------------------------------
***********************************************************
**********************************************************/

body{
	margin: 0;
    padding: 4rem 0 0 0;
    float: left;
    width: 100%;
    min-height: 100%;

	.container{
		padding-left: 0;
		padding-right: 0;
		width: 100%;

		.row{
			margin-right: auto;
			margin-left: auto;
			max-width: 1500px;
		}
	}
}

.section{
	width: 100%;
}

@media (min-width: $screen-md-min) { 

	#about-text{
		max-width: 785px;
		float: left;
	}

}

/**********************************************************
***********************************************************
-----------------------------------------------------------
GENERAL SETTINGS
-----------------------------------------------------------
***********************************************************
**********************************************************/

.subpage-header{
	width: 100%;
	padding: 5rem 0;
	text-transform: capitalize;
	float: left;
	text-align: center;
	background-size: cover;
	background-position: center;


	h1{
		color: #fff;
	}

}

.subpage-block-color-grey{
	background-color: $light-gray;
}

@media (min-width: $screen-sm-min) { 

	.subpage-header{
		padding: 7rem 0;
	}

}

@media (min-width: $screen-md-min) { 

	.subpage-header{
		padding: 10rem 0;
	}

}

@media (min-width: $screen-lg-min) { 



}

/**********************************************************
***********************************************************
-----------------------------------------------------------
TEXT
-----------------------------------------------------------
***********************************************************
**********************************************************/

body{

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	label{
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		color: $black;
	}

	p,
	a,
	li,
	ul,
	ol,
	div,
	span,
	i{
		font-family: 'Open Sans', sans-serif;
		color: $black;
	}

}

body{

	h1,
	.h1-heading-frontp{
		font-size: 5rem;
		word-break: break-word;
	}

	h2{
		font-size: 3rem;
	}

	h3{
		font-size: 2rem;
	}

	h4{
		font-size: 1.7rem;
	}

	p,
	a,
	li,
	ul,
	ol,
	div,
	span,
	i{
		font-size: 1.5rem;
	}

}

.long-heading{
	
}

.h2-underline-container{
	width: 100%;
	margin-bottom: 2.5rem;
	word-break: break-word;

	.h2-underline{
		width: 4rem;
		border-bottom: 0.5rem solid $M_second;
	}
}

.h2-underlined-center{
	margin: 0 auto;
}

a:focus, a:hover{
	color: $M_second;
}

@media (min-width: $screen-sm-min) {

	body{

		h1,
		.h1-heading-frontp{
			font-size: 7rem;
		}

		h2{
			font-size: 3.5rem;
		}

		h3{
			font-size: 2.5rem;
		}

		h4{
			font-size: 1.9rem;
		}

		p,
		a,
		li,
		ul,
		ol,
		div,
		span,
		i{
			font-size: 1.6rem;
		}

	}

}

@media (min-width: $screen-md-min) {

	body{

		h1,
		.h1-heading-frontp{
			font-size: 8rem;
		}

		h2{
			font-size: 4rem;
		}

		h3{
			font-size: 3rem;
		}

		h4{
			font-size: 2rem;
		}

		p,
		a,
		li,
		ul,
		ol,
		div,
		span,
		i{
			font-size: 1.65rem;
		}

	}

}

@media (min-width: $screen-lg-min) {

	body{

		h1,
		.h1-heading-frontp{
			font-size: 10rem;
		}

		h2{
			font-size: 5rem;
		}

		h3{
			font-size: 4rem;
		}

		h4{
			font-size: 3rem;
		}

		p,
		a,
		li,
		ul,
		ol,
		div,
		span,
		i{
			font-size: 1.7rem;
		}

	}

}

/**********************************************************
***********************************************************
-----------------------------------------------------------
BUTTONS
-----------------------------------------------------------
***********************************************************
**********************************************************/

.btn-cover{
	width: 100%;
	text-align: center;
	margin: 6rem 0;
	clear: both;
}

.btn-cover-right{
	width: 100%;
	text-align: right;
	margin: 6rem 0;
	clear: both;
}
input[type="submit"],
.field-wrap input[type="submit"], 
.field-wrap input[type="button"], 
.field-wrap button,
.btn-round{
	text-transform: uppercase;
	color: $white;
	text-align: center;
    padding: 2.5rem;
    border-radius: 50rem;
    border: 0.2rem $M_second solid;
    background-color: $M_second;
}
input[type="submit"]:hover,
.field-wrap input[type="submit"]:hover, 
.field-wrap input[type="button"]:hover, 
.field-wrap button:hover,
.btn-round:hover{
	background-color: $M_primary;
	border: 0.2rem $M_primary solid;
	color:$white;
	text-decoration: none;
}
input[type="submit"]:visited,
.field-wrap input[type="submit"]:visited, 
.field-wrap input[type="button"]:visited, 
.field-wrap button:visited,
input[type="submit"]:focus,
.field-wrap input[type="submit"]:focus, 
.field-wrap input[type="button"]:focus, 
.field-wrap button:focus,
.btn-round:visited,
.btn-round:focus{
	color:$white;
	text-decoration: none;
}

#btn-case{
	float: left;
	margin-bottom: 11rem;
}

#btn-case-nomargin{
	float: left;
}

.btn-content-centered{
	width: 100%;
	text-align: center;
	padding-top: 5rem;
}

/**********************************************************
***********************************************************
-----------------------------------------------------------
TOP-MENU
-----------------------------------------------------------
***********************************************************
**********************************************************/


.navbar{
	background-color: $white;
	margin-bottom: 0px;
	height: 70px;
	.container-fluid{
		.navbar-header{
			.navbar-toggle{
				.icon-bar{
					background-color: $M_second;
					width: 30px;
				    height: 4px;
				    margin: 5px 0px;
				}
			}
			.navbar-toggle:focus, 
			.navbar-toggle:hover{
				background-color: $light-gray;
			}
			.logo-link{
				.logo-img{
					padding: 5px 15px;
					height: 70px;
				}
			}
		}
		.navbar-collapse{
			background-color: $white;

			ul{
				li{
					padding: 1rem;
					a{
						text-transform: uppercase;
						color: $black;
						font-weight: 600;
					}

					a:hover{
						color: $M_second;
					}
				}
				li.current-menu-item{
					a{
						color: $M_second;
					}
				}
			}
		}
	}
}


@media (max-width: $screen-md-min) {

 .navbar,
 .navbar-fixed-top{
 	top: 0;
        border-width: 0 0 1px;
	.container-fluid{
		.navbar-header{
			float: none;
			.navbar-toggle{
				 display: block;
				.icon-bar{
					
				}
			}
			.logo-link{
				.logo-img{
					
				}
			}
		}
		.navbar-collapse{
			border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            position: fixed;
            overflow: hidden;
    width: 100%;
		}
		.navbar-collapse.collapse{
			display: none!important;
			
	}
	.navbar-collapse.collapse.in{
        display:block !important;
        ul{
        margin-top: 7.5px;
        	float: none !important;
				li{
					float: none !important;
					a{
						
					}
				}
			}
			 .navbar-nav>li {
		        float: none;
		    }
		    .navbar-nav>li>a {
		        padding-top: 10px;
		        padding-bottom: 10px;
		    }
		       .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
		}
    }
}
}

@media (min-width: $screen-sm-min) {

 .navbar,
 .navbar-fixed-top{

	.container-fluid{

		.navbar-collapse{
			left: 0;
			}}}}


@media (min-width: $screen-lg-min) {

 

}



/**********************************************************
***********************************************************
-----------------------------------------------------------
FRONT-PAGE
-----------------------------------------------------------
***********************************************************
**********************************************************/

.header-frontp, 
#case-frontp, 
.about-frontp, 
#map, 
#contactform-frontp{
	float: left;
} 

.header-frontp{
	background-color: $gray;
	background-size: cover; 
	width: 100%; 
	height: auto;

	.row{

		.header-container{
			padding: 2rem;

			.h1-heading-frontp,
			p{
				color: $white; 
				text-align: center;
			}
		}
	}
}

.h1-heading-frontp{
	padding: 4rem 1.5rem 1.5rem 1.5rem;
}

.section-container{
	padding: 3rem;
	clear: both;
}

.section-bread{
	padding-bottom: 2rem;
}

#case-frontp{
	width: 100%; 
	height: auto;
}

.about-frontp{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
	background-color: $light-gray;

.inner {
  overflow: auto;
  display: flex;
  word-wrap: break-word;
  background-color: $white;
  width: 100%;
  min-height: 300px;
  padding: 4rem;
}

	.about-frontp-divided{
		float: left; 
		width: 100%; 
	}

	#about-img-frontpage{
		background-image: url('http://www.twitrcovers.com/wp-content/uploads/2012/09/Cute-Cat.jpg');
		height: 250px;
		background-size: cover;
		background-position: center top;
	}

}

#map{
	width: 100%; 
	height: 400px; 
	background-color: $gray;
}

@media (min-width: $screen-sm-min) {

	.header-frontp{ 
		.row{
			.header-container{
				padding: 5rem;
			}
		}
	}

	.section-container{
		text-align: center;

		.h2-underline-container{

			.h2-underline{
				margin: 0 auto;
			}
		}
	}

	.section-container{
		padding: 5rem;
	}

	.about-frontp{


.inner {
  min-height: 400px;

}

		.about-frontp-divided{

		}

		#about-img-frontpage{
			height: 400px;
		}
	}

}

@media (min-width: $screen-md-min) { 

	.header-frontp{ 
		.row{
			.header-container{
				padding: 7rem;
			}
		}
	}

	.about-frontp{

		.about-frontp-divided{
			width: 50%;
		}

		.inner {
		  width: 50%;
		  padding: 8rem;
		}

		#about-img-frontpage{
			height: 550px;

		}

		.about-frontp-divided{
			
			.section-container{
				text-align: left;

				.h2-underline-container{
			
					.h2-underline{
						margin-left: 0;
					}

				}

			}

		}

	}

}

@media (min-width: $screen-lg-min) { 

	.about-frontp{

		.inner {
		  padding: 10rem;
		}

	}

 }

/**********************************************************
***********************************************************
-----------------------------------------------------------
SUBPAGE
-----------------------------------------------------------
***********************************************************
**********************************************************/

.section-bread-no-btn{
	margin-bottom: 5rem;
}

/**********************************************************
***********************************************************
-----------------------------------------------------------
CASE 
-----------------------------------------------------------
***********************************************************
**********************************************************/


.carousel-caption{
	background-color: rgba(0, 0, 0, 0.3);
	h2{
	color: $white;
}
}

.case-archive-container{
	float: left;
	padding: 5rem 0;
}

body{
.single-container-content{
	float: left;
		padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	img{
		width: 100%;
		height: auto;
	}
}}

.case-container{
	padding: 1rem;
	width: 100%;
	float: left;
	overflow: hidden;

	.case-small-img{
		width: 70vw;
		height: 70vw;
		margin-left: auto;
		margin-right: auto;
		background-size: cover;
		background-position: center;
		overflow: hidden;

		.case-heading{
			color: $white;
			font-size: 130%;
			font-weight: 700;
			text-align: center;
			line-height: 70vw;
			text-transform: uppercase;
			background-color: rgba(0,0,0,0.3);
		}

		.case-heading:hover{
			background-color: rgba(0,168,80,0.5);
		}
	}

}

.carousel-img {
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
}


@media (min-width: $screen-sm-min) {

	.case-container{
		padding: 2rem;
		width: 50%;

		.case-small-img{
			width: 40vw;
			height: 40vw;

			.case-heading{
				line-height: 40vw;
			}

		}

	}

	.carousel-img {
	    height: 70vh;
	}

}

@media (min-width: $screen-md-min) {

	.case-container{
		padding: 1rem;
		width: 33.333%;

		.case-small-img{
			width: 25vw;
			height: 25vw;

			.case-heading{
				line-height: 25vw;
			}

		}

	}

	.carousel-img {
	    height: 90vh;
	}

}

@media (min-width: $screen-lg-min) {

		.case-archive-container{
		padding: 10rem 0;
	}

}


/**********************************************************
***********************************************************
-----------------------------------------------------------
EMPLOYEE
-----------------------------------------------------------
***********************************************************
**********************************************************/

.employee-container{
	padding: 2rem;

	.employee-img{
		width: 15rem;
		height: 15rem;
		border-radius: 100rem;
		background-size: cover;
		background-position: center;
		margin: 2rem auto;
	}

	.employee-name{
		font-weight: 700;
	}

}

.employee-name,
.employee-work,
.employee-tele,
.employee-mail{
	text-align: center;
}

/**********************************************************
***********************************************************
-----------------------------------------------------------
CONTACT
-----------------------------------------------------------
***********************************************************
**********************************************************/

body .wp-list-table{
	width: 100%;
	.nf-form-content {
		padding-top: 3rem;
	}
	.one-half{
		margin-left: 0;
	}

	.ninja-forms-req-symbol, 
	.nf-error-msg{
		color: $M_second;
	}
	.nf-form-fields-required{
		font-style: italic;
	}

	 td{
	 	padding: 0rem;
	 }

	 textarea, input{
	 	padding: 1rem;
	 }

	 .nf-field-label{

	 	label{
	 		text-transform: none;
	 	}

	 }

	 .nf-field-element{
	 	
	 	ul{
	 		float: left;

	 		label{
	 			float: left;
	 		}
	 	}
	 	input[type=text],
	 	input[type=email],
	 	textarea{
			    padding: 12px 20px;
			    margin: 8px 0;
			    display: inline-block;
			    border: 2px solid #ccc;
			    border-radius: 4px;
			    box-sizing: border-box;
	 		}
	 	input[type="radio"]{
	 		float: left;
	 		margin-top: 5px;
	 	}
	 }
	 .nf-field-container{
		width: 100%;
	 } 
}

.employee-page-container{
	padding: 3rem;
	float: left;
}


@media (min-width: $screen-sm-min) {
	body .wp-list-table{

	.one-half{
		width: 50%;
	}

	.nf-field-container{
		padding: 1rem;
	}

	.nf-field-element{
		ul{
			float: none;
			li{
				label{
					padding: 0 5rem 0 2rem;
				}
			}
		}
	}

}
}
@media (min-width: $screen-md-min) {

	body .wp-list-table{

		 td{
		 	padding: 0 6rem;
		 }
	}

	.employee-page-container{
	padding: 6rem 4rem;
}

}

@media (min-width: $screen-lg-min) {

	body .wp-list-table{

		 td{
		 	padding: 0 7rem;
		 }
	}
}

/**********************************************************
***********************************************************
-----------------------------------------------------------
ABOUT
-----------------------------------------------------------
***********************************************************
**********************************************************/
.about-big{
	display: none;
}
@media (min-width: $screen-md-min) {
.about-small{
	display: none;
}
.about-big{
	display: flex;
}
}

/**********************************************************
***********************************************************
-----------------------------------------------------------
MEMBER-PAGE
-----------------------------------------------------------
***********************************************************
**********************************************************/

.container-member-notlogedin{
	background-color: $light-gray;
}
.login-member-text{
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	padding: 2.5rem 1rem 5rem 1rem;
}

.login-member-form{
	padding-bottom: 5rem;

	form{
		background-color: $white;
		padding: 3rem;
		border-radius: 10px;
		box-shadow: 1px 1px 20px #bbb;
		p{

			label{
				width: 100%;
				text-transform: uppercase;
			}
				input[type=text],
				input[type=password]{
					    width: 100%;
					    padding: 12px 20px;
					    margin: 8px 0;
					    display: inline-block;
					    border: 1px solid #ccc;
					    border-radius: 4px;
					    box-sizing: border-box;
					}
			
		}
		.login-submit{
				width: 100%;
				text-align: center;
				input[type=submit] {
					width: 100%;
				}
			}
	}
}

.read-more{
	color: $M_second;
	font-weight: 700;
}
.read-more:hover,
.read-more:focus,
.read-more:active{
	color: $black;
	text-decoration: none;
}

.content-post{
	padding: 3rem 3rem 1.5rem 3rem;
}

body{
	.sidebar-medarbetare{
		padding-top: 6rem;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-bottom: 3rem;


		.sidebar-container{
			border-top: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;
	    	padding: 5rem;
			
			li,
	    	a{
				color: $black;
	    	}

	    	a:hover,
	    	a:focus,
	    	a:active{
	    		color: $M_second;
	    		text-decoration: none;
	    	}

			ul{
				padding: 0;
				text-decoration: none;
				list-style-type: none;
				li{
					padding: 1rem 0;
				}
			}
			li{
				text-decoration: none;
				list-style-type: none;
				padding: 1rem 0;
				ul{
					padding-left: 3rem;
					padding-top: 0.5rem;
					li{
						list-style-type: circle;
					}
				}
			}
		}
	}
}


@media (min-width: $screen-md-min) {
.login-member-text{
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	padding: 5rem 1rem 10rem 1rem;
}

.login-member-form{
	padding-bottom: 10rem;
}
body{
	.container-medarbetare{
		padding-top: 6rem;
	}
	.sidebar-medarbetare{
		padding-top: 6rem;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-bottom: 3rem;


		.sidebar-container{
			border-left: 1px solid $light-gray;
			border-bottom: 0px solid $light-gray;
			border-top: 0px solid $light-gray;
	    	padding: 5rem;
	    	}}}
}

@media (min-width: $screen-lg-min) {
.login-member-text{
	max-width: 1000px;
}}

/**********************************************************
***********************************************************
-----------------------------------------------------------
FOOTER
-----------------------------------------------------------
***********************************************************
**********************************************************/

.footer-container{
	background-color: $light-gray;
}

footer{
	float: left;
	width: 100%;
	text-align: center;
	padding: 6rem 0;
}