/**********************************************************
***********************************************************
-----------------------------------------------------------
COLOR
-----------------------------------------------------------
***********************************************************
**********************************************************/
#wpadminbar {
  background-color: #65c087;
  margin-top: 7rem;
  z-index: 99; }

/**********************************************************
***********************************************************
-----------------------------------------------------------
CONTAINER SETTINGS
-----------------------------------------------------------
***********************************************************
**********************************************************/
body {
  margin: 0;
  padding: 4rem 0 0 0;
  float: left;
  width: 100%;
  min-height: 100%; }
  body .container {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
    body .container .row {
      margin-right: auto;
      margin-left: auto;
      max-width: 1500px; }

.section {
  width: 100%; }

@media (min-width: 992px) {
  #about-text {
    max-width: 785px;
    float: left; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
GENERAL SETTINGS
-----------------------------------------------------------
***********************************************************
**********************************************************/
.subpage-header {
  width: 100%;
  padding: 5rem 0;
  text-transform: capitalize;
  float: left;
  text-align: center;
  background-size: cover;
  background-position: center; }
  .subpage-header h1, .subpage-header p {
    color: #fff; }

.about-page-section p {
  color: #252122; }

.subpage-block-color-grey {
  background-color: #efefef; }

@media (min-width: 768px) {
  .subpage-header {
    padding: 7rem 0; } }

@media (min-width: 992px) {
  .subpage-header {
    padding: 10rem 0; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
TEXT
-----------------------------------------------------------
***********************************************************
**********************************************************/
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #252122; }

body p,
body a,
body li,
body ul,
body ol,
body div,
body span,
body i {
  font-family: 'Open Sans', sans-serif;
  color: #252122; }

body i:before {
  font-size: 4rem; }

body h1,
body .h1-heading-frontp {
  font-size: 5rem;
  word-break: break-word; }

body h2 {
  font-size: 3rem; }

body h3 {
  font-size: 2rem; }

body h4 {
  font-size: 1.7rem; }

body p,
body a,
body li,
body ul,
body ol,
body div,
body span {
  font-size: 1.5rem; }

.h2-underline-container {
  width: 100%;
  margin-bottom: 2.5rem;
  word-break: break-word; }
  .h2-underline-container .h2-underline {
    width: 4rem;
    border-bottom: 0.5rem solid #65c087; }

.h2-underlined-center {
  margin: 0 auto; }

body a h3:focus,
body a h3:hover,
body a:focus,
body a:hover {
  color: #65c087;
  text-decoration: none; }

@media (min-width: 768px) {
  body h1,
  body .h1-heading-frontp {
    font-size: 7rem; }
  body h2 {
    font-size: 3.5rem; }
  body h3 {
    font-size: 2.5rem; }
  body h4 {
    font-size: 1.9rem; }
  body p,
  body a,
  body li,
  body ul,
  body ol,
  body div,
  body span {
    font-size: 1.6rem; } }

@media (min-width: 992px) {
  body h1,
  body .h1-heading-frontp {
    font-size: 8rem; }
  body h2 {
    font-size: 4rem; }
  body h3 {
    font-size: 3rem; }
  body h4 {
    font-size: 2rem; }
  body p,
  body a,
  body li,
  body ul,
  body ol,
  body div,
  body span {
    font-size: 1.65rem; } }

@media (min-width: 1400px) {
  body h1,
  body .h1-heading-frontp {
    font-size: 10rem; }
  body h2 {
    font-size: 5rem; }
  body h3 {
    font-size: 4rem; }
  body h4 {
    font-size: 3rem; }
  body p,
  body a,
  body li,
  body ul,
  body ol,
  body div,
  body span {
    font-size: 1.7rem; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
BUTTONS
-----------------------------------------------------------
***********************************************************
**********************************************************/
.btn-cover {
  width: 100%;
  text-align: center;
  margin: 6rem 0;
  clear: both; }

.btn-cover-right {
  width: 100%;
  text-align: right;
  margin: 6rem 0;
  clear: both; }

.pag-btn a,
input[type="submit"],
.field-wrap input[type="submit"],
.field-wrap input[type="button"],
.field-wrap button,
.btn-round {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 2.5rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  border: 0.2rem #65c087 solid;
  background-color: #65c087; }

.pag-btn a:hover,
input[type="submit"]:hover,
.field-wrap input[type="submit"]:hover,
.field-wrap input[type="button"]:hover,
.field-wrap button:hover,
.btn-round:hover {
  background-color: #00a850;
  border: 0.2rem #00a850 solid;
  color: #fff;
  text-decoration: none; }

.pag-btn a:visited,
input[type="submit"]:visited,
.field-wrap input[type="submit"]:visited,
.field-wrap input[type="button"]:visited,
.field-wrap button:visited,
.pag-btn a:focus,
input[type="submit"]:focus,
.field-wrap input[type="submit"]:focus,
.field-wrap input[type="button"]:focus,
.field-wrap button:focus,
.btn-round:visited,
.btn-round:focus {
  color: #fff;
  text-decoration: none; }

.pagination {
  width: 100%; }
  .pagination .pag-btn {
    padding: 3rem 3rem 0 3rem;
    width: 100%;
    float: left; }
  .pagination .pag-btn-prev {
    float: left; }
    .pagination .pag-btn-prev a {
      float: left; }
  .pagination .pag-btn-next {
    float: left; }
    .pagination .pag-btn-next a {
      float: left; }

#btn-case {
  float: left;
  margin-bottom: 11rem; }

#btn-case-nomargin {
  float: left; }

.btn-content-centered {
  width: 100%;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem; }

@media (min-width: 768px) {
  .pagination .pag-btn {
    padding: 3rem;
    width: 50%; }
  .pagination .pag-btn-prev {
    float: right; }
    .pagination .pag-btn-prev a {
      float: right; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
TOP-MENU
-----------------------------------------------------------
***********************************************************
**********************************************************/
.navbar {
  background-color: #fff;
  margin-bottom: 0px;
  height: 70px; }
  .navbar .container-fluid {
    box-shadow: -1px -1px 5px #999;
    -moz-box-shadow: -1px -1px 5px #999;
    -webkit-box-shadow: -1px -1px 5px #999; }
    .navbar .container-fluid .navbar-header .navbar-toggle .icon-bar {
      background-color: #65c087;
      width: 30px;
      height: 4px;
      margin: 5px 0px; }
    .navbar .container-fluid .navbar-header .navbar-toggle:focus,
    .navbar .container-fluid .navbar-header .navbar-toggle:hover {
      background-color: #efefef; }
    .navbar .container-fluid .navbar-header .logo-link .logo-img {
      padding: 5px 15px;
      height: 70px; }
    .navbar .container-fluid .navbar-collapse {
      background-color: #fff; }
      .navbar .container-fluid .navbar-collapse ul li {
        padding: 1rem; }
        .navbar .container-fluid .navbar-collapse ul li a {
          text-transform: uppercase;
          color: #252122;
          font-weight: 600; }
        .navbar .container-fluid .navbar-collapse ul li a:hover {
          color: #65c087; }
      .navbar .container-fluid .navbar-collapse ul li.current-menu-item a {
        color: #65c087; }

@media (max-width: 992px) {
  .navbar,
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
    .navbar .container-fluid .navbar-header,
    .navbar-fixed-top .container-fluid .navbar-header {
      float: none; }
      .navbar .container-fluid .navbar-header .navbar-toggle,
      .navbar-fixed-top .container-fluid .navbar-header .navbar-toggle {
        display: block; }
    .navbar .container-fluid .navbar-collapse,
    .navbar-fixed-top .container-fluid .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      position: fixed;
      overflow: hidden;
      width: 100%; }
    .navbar .container-fluid .navbar-collapse.collapse,
    .navbar-fixed-top .container-fluid .navbar-collapse.collapse {
      display: none !important; }
    .navbar .container-fluid .navbar-collapse.collapse.in,
    .navbar-fixed-top .container-fluid .navbar-collapse.collapse.in {
      display: block !important; }
      .navbar .container-fluid .navbar-collapse.collapse.in ul,
      .navbar-fixed-top .container-fluid .navbar-collapse.collapse.in ul {
        margin-top: 7.5px;
        float: none !important; }
        .navbar .container-fluid .navbar-collapse.collapse.in ul li,
        .navbar-fixed-top .container-fluid .navbar-collapse.collapse.in ul li {
          float: none !important; }
      .navbar .container-fluid .navbar-collapse.collapse.in .navbar-nav > li,
      .navbar-fixed-top .container-fluid .navbar-collapse.collapse.in .navbar-nav > li {
        float: none; }
      .navbar .container-fluid .navbar-collapse.collapse.in .navbar-nav > li > a,
      .navbar-fixed-top .container-fluid .navbar-collapse.collapse.in .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px; }
      .navbar .container-fluid .navbar-collapse.collapse.in .navbar-nav .open .dropdown-menu,
      .navbar-fixed-top .container-fluid .navbar-collapse.collapse.in .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; } }

@media (min-width: 768px) {
  .navbar .container-fluid .navbar-collapse,
  .navbar-fixed-top .container-fluid .navbar-collapse {
    left: 0; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
FRONT-PAGE
-----------------------------------------------------------
***********************************************************
**********************************************************/
.header-frontp,
#case-frontp,
.about-frontp,
#map,
#contactform-frontp {
  float: left; }

.header-frontp {
  background-color: #8d8e92;
  background-size: cover;
  width: 100%;
  height: auto; }
  .header-frontp .row .header-container {
    padding: 2rem; }
    .header-frontp .row .header-container .h1-heading-frontp,
    .header-frontp .row .header-container p {
      color: #fff;
      text-align: center; }

.h1-heading-frontp {
  padding: 4rem 1.5rem 1.5rem 1.5rem; }

.section-container {
  padding: 3rem;
  clear: both; }

.section-bread {
  padding-bottom: 2rem; }

#case-frontp {
  width: 100%;
  height: auto; }

.about-frontp {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-wrap: wrap;
  /* Safari 6.1+ */
  width: 100%;
  background-color: #efefef; }
  .about-frontp .inner {
    overflow: auto;
    display: flex;
    display: -webkit-flex;
    word-wrap: break-word;
    background-color: #fff;
    width: 100%;
    min-height: 300px;
    padding: 4rem; }
  .about-frontp #about-inner-fp {
    background-color: #efefef; }
  .about-frontp .about-frontp-divided {
    float: left;
    width: 100%; }
  .about-frontp #about-img-frontpage {
    background-image: url("http://www.twitrcovers.com/wp-content/uploads/2012/09/Cute-Cat.jpg");
    height: 250px;
    background-size: cover;
    background-position: center top; }

#map {
  width: 100%;
  height: 400px;
  background-color: #8d8e92; }

@media (min-width: 768px) {
  .header-frontp .row .header-container {
    padding: 5rem; }
  .section-container {
    text-align: center; }
    .section-container .h2-underline-container .h2-underline {
      margin: 0 auto; }
  .section-container {
    padding: 5rem; }
  .about-frontp .inner {
    min-height: 400px; }
  .about-frontp #about-img-frontpage {
    height: 400px; } }

@media (min-width: 992px) {
  .header-frontp .row .header-container {
    padding: 7rem; }
  .about-frontp .about-frontp-divided {
    width: 50%; }
  .about-frontp .inner {
    width: 50%;
    padding: 8rem; }
  .about-frontp #about-img-frontpage {
    height: 550px; }
  .about-frontp .about-frontp-divided .section-container {
    text-align: left; }
    .about-frontp .about-frontp-divided .section-container .h2-underline-container .h2-underline {
      margin-left: 0; } }

@media (min-width: 1400px) {
  .about-frontp .inner {
    padding: 10rem; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
SUBPAGE
-----------------------------------------------------------
***********************************************************
**********************************************************/
.section-bread-no-btn {
  margin-bottom: 5rem; }

/**********************************************************
***********************************************************
-----------------------------------------------------------
CASE 
-----------------------------------------------------------
***********************************************************
**********************************************************/
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3); }
  .carousel-caption h2 {
    color: #fff; }

.case-archive-container {
  float: left;
  padding: 5rem 0; }

body .single-container-content {
  float: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem; }
  body .single-container-content img {
    width: 100%;
    height: auto; }

.case-container {
  padding: 1rem;
  width: 100%;
  float: left;
  overflow: hidden; }
  .case-container .case-small-img {
    width: 70vw;
    height: 70vw;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    overflow: hidden; }
    .case-container .case-small-img .case-heading {
      color: #fff;
      font-size: 130%;
      font-weight: 700;
      text-align: center;
      line-height: 70vw;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.3); }
    .case-container .case-small-img .case-heading:hover {
      background-color: rgba(0, 168, 80, 0.5); }

.carousel-img {
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover; }

@media (min-width: 768px) {
  .case-container {
    padding: 2rem;
    width: 50%; }
    .case-container .case-small-img {
      width: 40vw;
      height: 40vw; }
      .case-container .case-small-img .case-heading {
        line-height: 40vw; }
  .carousel-img {
    height: 70vh; } }

@media (min-width: 992px) {
  .case-container {
    padding: 1rem;
    width: 33.333%; }
    .case-container .case-small-img {
      width: 25vw;
      height: 25vw; }
      .case-container .case-small-img .case-heading {
        line-height: 25vw; }
  .carousel-img {
    height: 90vh; } }

@media (min-width: 1400px) {
  .case-archive-container {
    padding: 10rem 0; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
EMPLOYEE
-----------------------------------------------------------
***********************************************************
**********************************************************/
.employee-container {
  padding: 2rem; }
  .employee-container .employee-img {
    width: 15rem;
    height: 15rem;
    border-radius: 100rem;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    background-size: cover;
    background-position: center;
    margin: 2rem auto; }
  .employee-container .employee-name {
    font-weight: 700; }

.employee-name,
.employee-work,
.employee-tele,
.employee-mail {
  text-align: center; }

/**********************************************************
***********************************************************
-----------------------------------------------------------
CONTACT
-----------------------------------------------------------
***********************************************************
**********************************************************/
body .wp-list-table {
  width: 100%; }
  body .wp-list-table .nf-form-content {
    padding-top: 3rem; }
  body .wp-list-table .one-half {
    margin-left: 0; }
  body .wp-list-table .ninja-forms-req-symbol,
  body .wp-list-table .nf-error-msg {
    color: #65c087; }
  body .wp-list-table .nf-form-fields-required {
    font-style: italic; }
  body .wp-list-table td {
    padding: 0rem; }
  body .wp-list-table textarea, body .wp-list-table input {
    padding: 1rem; }
  body .wp-list-table .nf-field-label label {
    text-transform: none; }
  body .wp-list-table .nf-field-element ul {
    float: left; }
    body .wp-list-table .nf-field-element ul label {
      float: left; }
  body .wp-list-table .nf-field-element input[type=text],
  body .wp-list-table .nf-field-element input[type=email],
  body .wp-list-table .nf-field-element textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
  body .wp-list-table .nf-field-element input[type=text]:active,
  body .wp-list-table .nf-field-element input[type=text]:focus,
  body .wp-list-table .nf-field-element input[type=email]:active,
  body .wp-list-table .nf-field-element input[type=email]:focus,
  body .wp-list-table .nf-field-element textarea:active,
  body .wp-list-table .nf-field-element textarea:focus {
    border: 3px solid #65c087; }
  body .wp-list-table .nf-field-element input[type="radio"] {
    float: left;
    margin-top: 5px; }
  body .wp-list-table .nf-field-container {
    width: 100%; }

.employee-page-container {
  padding: 3rem;
  float: left; }

@media (min-width: 768px) {
  body .wp-list-table .one-half {
    width: 50%; }
  body .wp-list-table .nf-field-container {
    padding: 1rem; }
  body .wp-list-table .nf-field-element ul {
    float: none; }
    body .wp-list-table .nf-field-element ul li label {
      padding: 0 5rem 0 2rem; } }

@media (min-width: 992px) {
  body .wp-list-table td {
    padding: 0 6rem; }
  .employee-page-container {
    padding: 6rem 4rem; } }

@media (min-width: 1400px) {
  body .wp-list-table td {
    padding: 0 7rem; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
ABOUT
-----------------------------------------------------------
***********************************************************
**********************************************************/
.about-big {
  display: none; }

@media (min-width: 992px) {
  .about-small {
    display: none; }
  .about-big {
    display: flex;
    display: -webkit-flex; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
MEMBER-PAGE
-----------------------------------------------------------
***********************************************************
**********************************************************/
.container-member-notlogedin {
  background-color: #fff; }

.login-member-text {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 2.5rem 1rem 5rem 1rem; }

.login-member-form {
  padding-bottom: 5rem; }
  .login-member-form form {
    background-color: #efefef;
    padding: 3rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-shadow: 1px 1px 20px #bbb;
    -moz-box-shadow: 1px 1px 20px #bbb;
    -webkit-box-shadow: 1px 1px 20px #bbb; }
    .login-member-form form p label {
      width: 100%;
      text-transform: uppercase; }
    .login-member-form form p input[type=text],
    .login-member-form form p input[type=password] {
      width: 100%;
      padding: 20px;
      margin: 0px 0 30px 0;
      display: inline-block;
      border: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 2px solid #ccc; }
    .login-member-form form .login-submit {
      width: 100%;
      text-align: center; }
      .login-member-form form .login-submit input[type=submit] {
        width: 100%; }

.read-more {
  color: #65c087;
  font-weight: 700; }

.read-more:hover,
.read-more:focus,
.read-more:active {
  color: #252122;
  text-decoration: none; }

.content-post {
  padding: 3rem 3rem 1.5rem 3rem; }

body .member-content-container {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 3rem; }
  body .member-content-container img {
    width: 100%;
    height: auto; }
  body .member-content-container .content-post {
    padding-left: 0rem; }

body .sidebar-medarbetare {
  padding-top: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem; }
  body .sidebar-medarbetare .sidebar-container {
    border-top: 1px solid #efefef;
    padding: 5rem; }
    body .sidebar-medarbetare .sidebar-container li,
    body .sidebar-medarbetare .sidebar-container a {
      color: #252122; }
    body .sidebar-medarbetare .sidebar-container a:hover,
    body .sidebar-medarbetare .sidebar-container a:focus,
    body .sidebar-medarbetare .sidebar-container a:active {
      color: #65c087;
      text-decoration: none; }
    body .sidebar-medarbetare .sidebar-container ul {
      padding: 0;
      text-decoration: none;
      list-style-type: none; }
      body .sidebar-medarbetare .sidebar-container ul li {
        padding: 1rem 0; }
    body .sidebar-medarbetare .sidebar-container li {
      text-decoration: none;
      list-style-type: none;
      padding: 1rem 0; }
      body .sidebar-medarbetare .sidebar-container li ul {
        padding-left: 3rem;
        padding-top: 0.5rem; }
        body .sidebar-medarbetare .sidebar-container li ul li {
          list-style-type: circle; }

@media (min-width: 768px) {
  body .member-content-container {
    padding-right: 8rem;
    padding-left: 8rem;
    padding-top: 3rem; }
    body .member-content-container .content-post {
      padding-left: 0rem; } }

@media (min-width: 992px) {
  .login-member-text {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem 1rem 10rem 1rem; }
  .login-member-form {
    padding-bottom: 10rem; }
  body .container-medarbetare {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  body .sidebar-medarbetare {
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem; }
    body .sidebar-medarbetare .sidebar-container {
      border-left: 1px solid #efefef;
      border-bottom: 0px solid #efefef;
      border-top: 0px solid #efefef;
      padding: 5rem; }
  body .member-content-container {
    padding-right: 8rem;
    padding-left: 8rem;
    padding-top: 9rem;
    padding-bottom: 11rem; }
    body .member-content-container .content-post {
      padding-left: 0rem; } }

@media (min-width: 1400px) {
  .login-member-text {
    max-width: 1000px; } }

/**********************************************************
***********************************************************
-----------------------------------------------------------
FOOTER
-----------------------------------------------------------
***********************************************************
**********************************************************/
.footer-container {
  background-color: #efefef; }

footer {
  float: left;
  width: 100%;
  text-align: center;
  padding: 6rem 0; }
